@model IEnumerable<Web_ContratoV1.Entidades.TBT_SEDES>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.COD_SEDES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DES_SEDES)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COD_SEDES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DES_SEDES)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDD_SEDES">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDD_SEDES">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDD_SEDES">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
